import React, { FunctionComponent } from 'react'
{{#if style}}
import styles from './{{name}}.module.scss'
{{/if}}

export interface {{name}}Props {}

const {{name}}: FunctionComponent<{{name}}Props> = () => {
  return <h1>{{name}} component</h1>
}

export default {{name}}
